@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Begin JB's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="active">Blog</li>
            </ul>
        </div>
    </div>
</div>
<!-- JB's Breadcrumb Area End Here -->
<!-- Begin JB's Blog Left Sidebar Area -->
<div class="jb-blog_area jb-banner_area jb-blog-grid_view">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-lg-1 order-2">
                <div class="jb-blog-sidebar-wrapper">
                    <div class="jb-blog-sidebar">
                        <div class="jb-sidebar-search-form">
                            <form action="javascript:void(0)">
                                <input type="text" class="jb-search-field" placeholder="search here">
                                <button type="submit" class="jb-search-btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="jb-blog-sidebar">
                        <h4 class="jb-blog-sidebar-title">Categories</h4>
                        <ul class="jb-blog-archive">
                            <li><a href="javascript:void(0)">Laptop (10)</a></li>
                            <li><a href="javascript:void(0)">Gamepad (08)</a></li>
                            <li><a href="javascript:void(0)">Furniture (07)</a></li>
                            <li><a href="javascript:void(0)">Smartphone (14)</a></li>
                            <li><a href="javascript:void(0)">Cameras (10)</a></li>
                            <li><a href="javascript:void(0)">Headphone (06)</a></li>
                        </ul>
                    </div>
                    <div class="jb-blog-sidebar">
                        <h4 class="jb-blog-sidebar-title">Blog Archives</h4>
                        <ul class="jb-blog-archive">
                            <li><a href="javascript:void(0)">February (06)</a></li>
                            <li><a href="javascript:void(0)">March (15)</a></li>
                            <li><a href="javascript:void(0)">April (18)</a></li>
                            <li><a href="javascript:void(0)">May (09)</a></li>
                            <li><a href="javascript:void(0)">June (06)</a></li>
                            <li><a href="javascript:void(0)">July (07)</a></li>
                        </ul>
                    </div>
                    <div class="jb-blog-sidebar">
                        <h4 class="jb-blog-sidebar-title">Recent Post</h4>
                        <div class="jb-recent-post">
                            <div class="jb-recent-post-thumb">
                                <a href="blog-details-left-sidebar.html">
                                    <img class="img-full" src="/image/product/small-size/1.jpg" alt="JB's Product Image">
                                </a>
                            </div>
                            <div class="jb-recent-post-des">
                                <span><a href="blog-details-left-sidebar.html">First Blog Post</a></span>
                                <span class="jb-post-date">21-02-2022</span>
                            </div>
                        </div>
                        <div class="jb-recent-post">
                            <div class="jb-recent-post-thumb">
                                <a href="blog-details-left-sidebar.html">
                                    <img class="img-full" src="/image/product/small-size/2.jpg" alt="JB's Product Image">
                                </a>
                            </div>
                            <div class="jb-recent-post-des">
                                <span><a href="blog-details-left-sidebar.html">Second Blog Post</a></span>
                                <span class="jb-post-date">21-02-2022</span>
                            </div>
                        </div>
                        <div class="jb-recent-post">
                            <div class="jb-recent-post-thumb">
                                <a href="blog-details-left-sidebar.html">
                                    <img class="img-full" src="/image/product/small-size/3.jpg" alt="JB's Product Image">
                                </a>
                            </div>
                            <div class="jb-recent-post-des">
                                <span><a href="blog-details-left-sidebar.html">Third Blog Post</a></span>
                                <span class="jb-post-date">21-02-2022</span>
                            </div>
                        </div>
                    </div>
                    <div class="jb-blog-sidebar">
                        <h4 class="jb-blog-sidebar-title">Tags</h4>
                        <ul class="jb-blog-tags">
                            <li><a href="javascript:void(0)">Smartphone</a></li>
                            <li><a href="javascript:void(0)">Xbox One</a></li>
                            <li><a href="javascript:void(0)">Alienware</a></li>
                            <li><a href="javascript:void(0)">Headphone</a></li>
                            <li><a href="javascript:void(0)">Tablet</a></li>
                            <li><a href="javascript:void(0)">VR</a></li>
                            <li><a href="javascript:void(0)">Joystick</a></li>
                            <li><a href="javascript:void(0)">Power Bank</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 order-lg-2 order-1">
                <div class="row blog-item_wrap">
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img banner-item">
                                <a href="blog-details-left-sidebar.html">
                                    <img src="/image/blog/1.jpg" alt="JB's Blog Image">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-heading">
                                    <h5>
                                        <a href="blog-details-left-sidebar.html">Blog Image Post</a>
                                    </h5>
                                </div>
                                <div class="blog-meta">
                                    <div class="meta-author">
                                        <span>HasTech</span>
                                    </div>
                                    <div class="blog-time_schedule">
                                        <span class="day">28</span>
                                        <span class="month">Mar</span>
                                    </div>
                                </div>
                                <div class="blog-short_desc">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been ...
                                    </p>
                                </div>
                                <div class="jb-read-more_area">
                                    <a href="blog-details-left-sidebar.html" class="jb-read_more">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="jb-single-blog_slider">
                            <div class="blog-item">
                                <div class="blog-img banner-item">
                                    <a href="blog-details-left-sidebar.html">
                                        <img src="/image/blog/3.jpg" alt="JB's Blog Image">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-heading">
                                        <h5>
                                            <a href="blog-details-left-sidebar.html">Blog First Gallery Post</a>
                                        </h5>
                                    </div>
                                    <div class="blog-meta">
                                        <div class="meta-author">
                                            <span>HasTech</span>
                                        </div>
                                        <div class="blog-time_schedule">
                                            <span class="day">28</span>
                                            <span class="month">Mar</span>
                                        </div>
                                    </div>
                                    <div class="blog-short_desc">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem
                                            Ipsum has been ...
                                        </p>
                                    </div>
                                    <div class="jb-read-more_area">
                                        <a href="blog-details-left-sidebar.html" class="jb-read_more">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-item">
                                <div class="blog-img banner-item">
                                    <a href="blog-details-left-sidebar.html">
                                        <img src="/image/blog/2.jpg" alt="JB's Blog Image">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-heading">
                                        <h5>
                                            <a href="blog-details-left-sidebar.html">Blog Second Gallery Post</a>
                                        </h5>
                                    </div>
                                    <div class="blog-meta">
                                        <div class="meta-author">
                                            <span>HasTech</span>
                                        </div>
                                        <div class="blog-time_schedule">
                                            <span class="day">28</span>
                                            <span class="month">Mar</span>
                                        </div>
                                    </div>
                                    <div class="blog-short_desc">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem
                                            Ipsum has been ...
                                        </p>
                                    </div>
                                    <div class="jb-read-more_area">
                                        <a href="blog-details-left-sidebar.html" class="jb-read_more">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-item">
                                <div class="blog-img banner-item">
                                    <a href="blog-details-left-sidebar.html">
                                        <img src="/image/blog/3.jpg" alt="JB's Blog Image">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-heading">
                                        <h5>
                                            <a href="blog-details-left-sidebar.html">This Is Third Post For XipBlog</a>
                                        </h5>
                                    </div>
                                    <div class="blog-meta">
                                        <div class="meta-author">
                                            <span>HasTech</span>
                                        </div>
                                        <div class="blog-time_schedule">
                                            <span class="day">28</span>
                                            <span class="month">Mar</span>
                                        </div>
                                    </div>
                                    <div class="blog-short_desc">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem
                                            Ipsum has been ...
                                        </p>
                                    </div>
                                    <div class="jb-read-more_area">
                                        <a href="blog-details-left-sidebar.html" class="jb-read_more">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-item">
                                <div class="blog-img banner-item">
                                    <a href="blog-details-left-sidebar.html">
                                        <img src="/image/blog/1.jpg" alt="JB's Blog Image">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-heading">
                                        <h5>
                                            <a href="blog-details-left-sidebar.html">Blog Third Gallery Post</a>
                                        </h5>
                                    </div>
                                    <div class="blog-meta">
                                        <div class="meta-author">
                                            <span>HasTech</span>
                                        </div>
                                        <div class="blog-time_schedule">
                                            <span class="day">28</span>
                                            <span class="month">Mar</span>
                                        </div>
                                    </div>
                                    <div class="blog-short_desc">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem
                                            Ipsum has been ...
                                        </p>
                                    </div>
                                    <div class="jb-read-more_area">
                                        <a href="blog-details-left-sidebar.html" class="jb-read_more">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-item">
                            <div class="ratio ratio-16x9">
                                <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/342419243&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
                            </div>
                            <div class="blog-content">
                                <div class="blog-heading">
                                    <h5>
                                        <a href="blog-details-left-sidebar.html">Blog Audio Post</a>
                                    </h5>
                                </div>
                                <div class="blog-meta">
                                    <div class="meta-author">
                                        <span>HasTech</span>
                                    </div>
                                    <div class="blog-time_schedule">
                                        <span class="day">28</span>
                                        <span class="month">Mar</span>
                                    </div>
                                </div>
                                <div class="blog-short_desc">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been ...
                                    </p>
                                </div>
                                <div class="jb-read-more_area">
                                    <a href="blog-details-left-sidebar.html" class="jb-read_more">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-item">
                            <div class="ratio ratio-16x9">
                                @* <iframe src="https://www.youtube.com/embed/DR2c266yWEA" allow="autoplay; encrypted-media" allowfullscreen></iframe> *@
                                <iframe src="https://www.youtube.com/embed/dZwoaSsNKrg?si=R2oT9gKzQkxyeC7Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                            <div class="blog-content">
                                <div class="blog-heading">
                                    <h5>
                                        <a href="blog-details-left-sidebar.html">Blog Video Post</a>
                                    </h5>
                                </div>
                                <div class="blog-meta">
                                    <div class="meta-author">
                                        <span>HasTech</span>
                                    </div>
                                    <div class="blog-time_schedule">
                                        <span class="day">28</span>
                                        <span class="month">Mar</span>
                                    </div>
                                </div>
                                <div class="blog-short_desc">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been ...
                                    </p>
                                </div>
                                <div class="jb-read-more_area">
                                    <a href="blog-details-left-sidebar.html" class="jb-read_more">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img banner-item">
                                <a href="blog-details-left-sidebar.html">
                                    <img src="/image/blog/2.jpg" alt="JB's Blog Image">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-heading">
                                    <h5>
                                        <a href="blog-details-left-sidebar.html">This Is Second Post For XipBlog</a>
                                    </h5>
                                </div>
                                <div class="blog-meta">
                                    <div class="meta-author">
                                        <span>HasTech</span>
                                    </div>
                                    <div class="blog-time_schedule">
                                        <span class="day">28</span>
                                        <span class="month">Mar</span>
                                    </div>
                                </div>
                                <div class="blog-short_desc">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been ...
                                    </p>
                                </div>
                                <div class="jb-read-more_area">
                                    <a href="blog-details-left-sidebar.html" class="jb-read_more">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img banner-item">
                                <a href="blog-details-left-sidebar.html">
                                    <img src="/image/blog/3.jpg" alt="JB's Blog Image">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-heading">
                                    <h5>
                                        <a href="blog-details-left-sidebar.html">This Is Third Post For XipBlog</a>
                                    </h5>
                                </div>
                                <div class="blog-meta">
                                    <div class="meta-author">
                                        <span>HasTech</span>
                                    </div>
                                    <div class="blog-time_schedule">
                                        <span class="day">28</span>
                                        <span class="month">Mar</span>
                                    </div>
                                </div>
                                <div class="blog-short_desc">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been ...
                                    </p>
                                </div>
                                <div class="jb-read-more_area">
                                    <a href="blog-details-left-sidebar.html" class="jb-read_more">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="jb-paginatoin-area text-center">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="jb-pagination-box">
                                        <li><a class="Previous" href="javascript:void(0)">Previous</a></li>
                                        <li class="active"><a href="javascript:void(0)">1</a></li>
                                        <li><a href="javascript:void(0)">2</a></li>
                                        <li><a href="javascript:void(0)">3</a></li>
                                        <li><a class="Next" href="javascript:void(0)">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JB's Blog Left Sidebar Area End Here -->
